<div>
	<h1>GO PHISH!</h1>
	<div ng-if="me">
		<p>Capture other players by tricking them into opening your link:</p>
		<ul><li><a ng-href="#!/{{me.id}}/{{me.camp}}">PHISHING LINK</a></li></ul>
		<p>Track capture campaigns by adding an optional campaign code:<br/>
		  <input type="text" ng-model="me.camp"/></p>
	</div>
	<div ng-if="players">
		<h2>Leaderboard:</h2>
		<table border="1" style="border-collapse: collapse">
			<thead>
				<tr>
					<th></th>
					<th>Player</th>
					<th>Score</th>
					<th>Wins</th>
					<th>Losses</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="p in players">
					<td><span ng-if="p.me">You:</span></td>
					<td><span ng-if="!p.me">{{p.name || p.id}}</span>
					  <span ng-if="p.me"><input type="text" width="180"
					  ng-model="rename.to"/><input type="submit" value="Rename"
					  ng-click="rename()"/></span></td>
					<td style="text-align: right">{{p.score}}</td>
					<td style="text-align: right">{{p.kills}}</td>
					<td style="text-align: right">{{p.deaths}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-if="players">
		<h2>Recent Activity:</h2>
		<table border="1" style="border-collapse: collapse" ng-if="log">
			<thead>
				<tr>
					<th>Timestamp</th>
					<th>Phisher</th>
					<th>Victim</th>
					<th>Campaign</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="p in log">
					<td>{{p.stamp}}</td>
					<td>{{names ? names[p.winid] : p.winid}}</td>
					<td>{{names ? names[p.loseid] : p.loseid}}</td>
					<td>{{p.campaign}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
